<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/init.css"/>
  <link rel="stylesheet" type="text/css" href="css/base.css"/>
  <link rel="stylesheet" type="text/css" href="css/index.css"/>
</head>

<body>
<div id="index-body" v-cloak>
  <auto-refresh switch="off"></auto-refresh>
  <div class="display-board">
    <div class="display-box" v-for="(item1, index1) in displayData">
      <div class="header">
        <div class="text">{{item1.title}}</div>
        <transition name="fade-up">
          <div class="bottom-up" v-show="item1.open" @click="switchState(index1)"></div>
        </transition>
        <transition name="fade-down">
          <div class="bottom-down" v-show="!item1.open" @click="switchState(index1)"></div>
        </transition>
      </div>
      <transition name="switch-content">
        <div class="content" v-show="item1.open" @click="reportSize(index1)">
          <ul>
            <li class="list-item" v-for="(item2, index2) in item1.body">
              {{item2}}
            </li>
          </ul>
        </div>
      </transition>
    </div>
  </div>
</div>
</body>

<script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="lib/vue.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/component.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</html>