<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="../lib/base.css"/>
  <link rel="stylesheet" type="text/css" href="notes.css"/>
</head>

<body>
<div id="notes-body" v-cloak>

  <top-bar></top-bar>
  <auto-refresh switch="off"></auto-refresh>

  <div id="menu-part" v-if="wideScr">
    <div id="menu-box">
      <div id="menu-body">
      </div>
    </div>
  </div>

  <div id="text-part">
    <div id="text-left-blank" v-if="wideScr"></div>
    <div id="text-box">
      <div id="text-body">
      </div>
    </div>
  </div>

</div>
</body>

<script type="text/javascript" src="../lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript" src="../lib/base.js"></script>
<script type="text/javascript" src="../components/component.js"></script>
<script type="text/javascript" src="notes.js"></script>
</html>