<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/base.css"/>

  <link rel="stylesheet" type="text/css" href="index.css"/>
</head>

<body>
<div id="index-body" v-cloak>

  <div class="loadingMask" v-if="loadingMask">
    <span style="font-size: 200%;margin-bottom: 20px">载入中...</span>
    <span>初次载入可能较慢 请耐心等待</span>
    <span>如长时间没有响应 可ctrl+f5强制刷新页面</span>
  </div>

  <div class="gen-sit-box" v-if="genSit">
    <div>活动开始时间：{{processDateStr(time.startTime)}}</div>
    <div>活动结束时间：{{processDateStr(time.endTime)}}</div>
    <div>最后更新时间：{{processDateStr(time.updateTime)}}</div>
    <div>当前北京时间：{{processDateStr(time.curTime)}}</div>
    <div>剩余时间：{{ms2timeStr(time.endTime-time.curTime)}}</div>
    <div>当前周目：{{mobParas[genSit.curBossIdx-1].round}}</div>
    <div>当前Boss：{{mobParas[genSit.curBossIdx-1].bossNum}}号 ~ {{mobParas[genSit.curBossIdx-1].name}} ~ 总第{{genSit.curBossIdx}}号</div>
    <div>剩余血量：{{genSit.remainHealth}} ~ {{genSit.remainHealthPer}}%</div>
    <div>
      <span>已出刀数：{{actionLogByDay(genSit.curDay).doneNum}}</span>
      <span style="border: 1px solid black" @click="shiftHistoryLogDone(genSit.curDay-1)">详情点击</span>
    </div>
    <div>
      <span>未出刀数：{{actionLogByDay(genSit.curDay).todoNum}}</span>
      <span style="border: 1px solid black" @click="shiftHistoryLogTodo(genSit.curDay-1)">详情点击</span>
    </div>
  </div>

  <div class="combine-calc">
    <h2>合刀计算器</h2>
    <div>
      <span>剩余血量 </span>
      <input v-model="combineParas.remainHealth">
    </div>
    <div>
      <span>刀一伤害 </span>
      <input v-model="combineParas.damageA">
    </div>
    <div>
      <span>刀二伤害 </span>
      <input v-model="combineParas.damageB">
    </div>
    <div v-show="combineRes.length===2">
      <span>一先二尾 </span>
      <span>{{combineRes[0]}}秒</span>
    </div>
    <div v-show="combineRes.length===2">
      <span>二先一尾 </span>
      <span>{{combineRes[1]}}秒</span>
    </div>
  </div>

  <div class="gen-sit-box" v-if="genSit">
    <h2>历史记录</h2>
    <div>第一天没有详细记录每刀伤害</div>
    <div>实际上90刀出满了</div>
    <div v-for="(historyDate) in historyDateObj.dateArr">
      <span style="border: 1px solid black" @click="shiftHistoryLogDone(historyDate-1)">第{{historyDate}}天已出{{actionLogByDay(historyDate).doneNum}}</span>
      <span style="border: 1px solid black" @click="shiftHistoryLogTodo(historyDate-1)">第{{historyDate}}天未出{{actionLogByDay(historyDate).todoNum}}</span>
    </div>
  </div>

  <div class="today-detail" @click="shiftHistoryLogDone" v-show="popupFlags.historyLogDone">
    <div class="mob-box" v-for="(mobData,mobIdx) in actionLogByDay(historyDateObj.curSelect+1).done" @click.stop>
      <div class="title">{{mobParas[mobData.bossIdx-1].round}}周目 {{mobParas[mobData.bossIdx-1].bossNum}}号 {{mobParas[mobData.bossIdx-1].name}} 总第{{mobParas[mobData.bossIdx-1].bossIdx}}号 {{mobData.log.length}}刀</div>
      <div class="log-item" v-for="(logItem,logIdx) in mobData.log">
        <div style="position: absolute;height: 100%;background: rgba(255,0,0,0.4);z-index: 0" :style="'width:'+(logItem.damage/mobData.maxDamage*100)+'%'"></div>
        <span style="margin-left: 5px">{{logItem.name}}</span>
        <span v-if="logItem.desc">{{logItem.desc}}</span>
        <span style="margin-right: 5px">{{logItem.damage}}</span>
      </div>
    </div>
  </div>

  <div class="today-detail" @click="shiftHistoryLogTodo" v-show="popupFlags.historyLogTodo">
    <div class="mob-box" @click.stop>
      <div class="log-item" v-for="(todoItem,todoIdx) in actionLogByDay(historyDateObj.curSelect+1).todo" v-if="todoItem.todoNum!==0">
        <span style="margin-left: 5px">{{todoItem.name}}</span>
        <span style="margin-right: 5px">{{todoItem.todoNum}}</span>
      </div>
    </div>
  </div>

  <div class="damage-figure">
    <div class="figure-box">
      <div class="display-item" v-for="(playerData) in playerTotalDamageByDay([1,2,3,4,5])">
        <div class="name-box">{{playerData.name}}</div>
        <div class="damage-bar" :style="'width:'+(playerData.total/playerTotalDamageByDay([1,2,3,4,5])[0].total*80)+'%'"></div>
        <div>{{playerData.total}}</div>
      </div>
    </div>
  </div>

</div>
</body>

<script type="text/javascript" src="../../lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../lib/vue.js"></script>
<script type="text/javascript" src="../../lib/base.js"></script>

<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>