<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../../lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/base.css"/>

  <link rel="stylesheet" type="text/css" href="index.css"/>
</head>

<body>
<div id="index-body" v-cloak>

  <div class="gen-sit-box" v-if="genSit">
    <div>活动开始时间：{{processDateStr(time.startTime)}}</div>
    <div>活动结束时间：{{processDateStr(time.endTime)}}</div>
    <div>最后更新时间：{{processDateStr(time.updateTime)}}</div>
    <div>当前北京时间：{{processDateStr(time.curTime)}}</div>
    <div>剩余时间：{{ms2timeStr(time.endTime-time.curTime)}}</div>
    <div>当前周目：{{mobParas[genSit.curBossIdx-1].round}}</div>
    <div>当前Boss：{{mobParas[genSit.curBossIdx-1].bossNum}}号 ~ {{mobParas[genSit.curBossIdx-1].name}}</div>
    <div>剩余血量：{{genSit.remainHealth}} ~ {{genSit.remainHealthPer}}%</div>
    <div>
      <span>已出刀数：{{genSit.actions[0].doneNum}}</span>
      <span style="border: 1px solid black" @click="shiftTodayDetail">详情点击</span>
    </div>
    <div>
      <span>未出刀数：{{genSit.actions[0].todoNum}}</span>
      <span style="border: 1px solid black" @click="shiftTodayTodo">详情点击</span>
    </div>
  </div>

  <div class="combine-calc">
    <h2>合刀计算器</h2>
  </div>

  <div class="today-detail" @click="shiftTodayDetail" v-show="popupFlags.showTodayDetail">
    <div class="mob-box" v-for="(mobData,mobIdx) in genSit.actions.slice(1)" @click.stop>
      <div class="log-item" v-for="(logItem,logIdx) in mobData.log">
        <span>{{logItem.name}}</span>
        <span>{{logItem.damage}}</span>
      </div>
    </div>
  </div>

  <div class="today-detail" @click="shiftTodayTodo" v-show="popupFlags.showTodayTodo">
    <div class="mob-box" @click.stop>
      <div class="log-item" v-for="(todoItem,todoIdx) in genSit.actions[0].todo">
        <span>{{todoItem.name}}</span>
        <span>{{todoItem.todoNum}}</span>
      </div>
    </div>
  </div>

</div>
</body>

<script type="text/javascript" src="../../lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../../lib/vue.js"></script>
<script type="text/javascript" src="../../lib/base.js"></script>

<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>