html, body {
  height: 100%;
  cursor: default; }

#demo-body {
  min-height: 100%;
  background: #1e1e1e; }
  #demo-body .display-block {
    display: flex; }
    #demo-body .display-block .display-item {
      margin: 20px 0 0 20px; }
