<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>每日一刀甜心刀 休闲健康睡饱饱</title>
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../lib/init.css"/>
  <link rel="stylesheet" type="text/css" href="../../lib/base.css"/>

  <link rel="stylesheet" type="text/css" href="index.css"/>
</head>

<body>
<div id="index-body" v-cloak>
  <div class="bg-low-def"></div>

  <transition name="showFigure">
    <div class="loadingMask" v-if="loadingMask">
      <div class="circle-image-1"></div>
      <div class="circle-image-2"></div>
      <div style="font-size: 200%;margin-bottom: 20px;position: relative">
        载入中<span class="dot-1">.</span><span class="dot-2">.</span><span class="dot-3">.</span>
      </div>
      <span style="position: relative">初次载入可能较慢 请耐心等待</span>
      <span style="position: relative">如长时间没有响应 可ctrl+f5强制刷新页面</span>
    </div>
  </transition>

  <a style="position: fixed;bottom: 10px;background: rgba(255, 255, 255, 0.7);border-radius: 10px;border: #999999 solid 2px;box-shadow: black 3px 3px 3px;padding: 0 5px"
    href="https://github.com/naturallzh/PCR_guild_battle" target="_blank">
    访问Github仓库
  </a>

  <div class="combine-calc">
    <h2>合刀计算器</h2>
    <div>
      <span>剩余血量 </span>
      <input v-model="combineParas.remainHealth" type="number">
    </div>
    <div>
      <span>刀一伤害 </span>
      <input v-model="combineParas.damageA" type="number">
    </div>
    <div>
      <span>刀二伤害 </span>
      <input v-model="combineParas.damageB" type="number">
    </div>
    <div>
      <span>一先二尾 </span>
      <span style="color: #fb5280;font-weight: bold;margin-right: 5px">{{combineRes[0]}}</span>秒
    </div>
    <div>
      <span>二先一尾 </span>
      <span style="color: #fb5280;font-weight: bold;margin-right: 5px">{{combineRes[1]}}</span>秒
    </div>

    <h2 style="margin-top: 10px">进度计算器</h2>
    <select v-model="progressParas.guildBattleIdx" style="margin: 3px 0;display: none">
      <option :value="dataItem.idx" v-for="dataItem in mobData">{{dataItem.desc}}</option>
    </select>
    <div>
      <input v-model="progressParas.round" type="number" style="width: 10%">周目
      <input v-model="progressParas.bossNum" type="number" style="width: 10%">王
      <input v-model="progressParas.remainHealth" type="number" style="width: 25%">血量剩余
    </div>
    <div>
      得分 <input v-model="progressScore" type="number">
    </div>
  </div>

  <div class="exp-calc">
    <h2>经验计算器</h2>
    <div>
      <span>当前等级 </span>
      <input v-model="expCalcParas.curLvl" type="number">
    </div>
    <div>
      <span>当前经验 </span>
      <input v-model="expCalcParas.curExp" type="number">
    </div>
    <div>
      <span>目标等级 </span>
      <input v-model="expCalcParas.tarLvl" type="number">
    </div>
    <div>
      <span>需要经验 </span>
      <span style="color: #fb5280;font-weight: bold">{{calcExpRequire[0]}}</span>
    </div>
    <div>
      <span>升级回体 </span>
      <span style="color: #fb5280;font-weight: bold">{{calcExpRequire[1]}}</span>
      <input type="checkbox" v-model="expCalcParas.wipeMaxLvlUpSpirit" v-show="calcExpRequire[0]!=='--'">
      <span v-if="calcExpRequire[0]!=='--'">不算末次回体<span style="color: #fb5280;font-weight: bold">{{playerLvlData[expCalcParas.tarLvl].spirit}}</span>点</span>
    </div>
    <div style="height: 1px;background: black;width: 100%;margin: 5px 0"></div>
    <div>
      <span style="margin-right: 5px">日回：240</span>
      <span>日常体力：{{spiritGetParas.dailyQuestSpiritDouble?400:200}} </span>
      <input type="checkbox" v-model="spiritGetParas.dailyQuestSpiritDouble">
      <span>双倍</span>
    </div>
    <div>
      <span style="margin-right: 5px">点赞：10</span>
      <span>日常经验：{{spiritGetParas.dailyQuestExpDouble?700:350}} </span>
      <input type="checkbox" v-model="spiritGetParas.dailyQuestExpDouble">
      <span>双倍</span>
    </div>
    <div>
      <span>宿舍：</span>
      <select v-model="spiritGetParas.tableLvl">
        <option :value="tableData.lvl" v-for="tableData in guildHomeData.spiritTable">{{tableData.lvl}}级点心桌{{tableData.spirit}}</option>
      </select>
      <select v-model="spiritGetParas.FoodNum">
        <option :value="foodData.num" v-for="foodData in guildHomeData.dungeonFood">{{foodData.num}}个食物{{foodData.spirit}}</option>
      </select>
    </div>
    <div>
      <span>碎石</span>
      <input v-model="spiritGetParas.stone" type="number">
      <span>管</span>
    </div>
    <div>
      <span>日产体力 </span>
      <span style="color: #fb5280;font-weight: bold;margin-right: 5px">{{calcSpiritGet}}</span>
      <span>预估需要<span style="color: #fb5280;font-weight: bold">{{predictLvlDays}}</span>天</span>
    </div>
  </div>

  <div class="guild-battle-record">
    <h2 style="margin-bottom: 0px">团队战记录</h2>
    <div class="btn" @click="gotoLeo">
      <div>20200824~20200829 狮子座</div>
      <div>进行中</div>
    </div>
    <div class="btn" @click="gotoCancer">
      <div>20200728~20200802 巨蟹座</div>
      <div>已结束 排名：1679</div>
    </div>
    <div class="btn" @click="gotoGemini">
      <div>20200630~20200705 双子座</div>
      <div>已结束 排名：1984</div>
    </div>
    <div class="btn" @click="gotoTaurus">
      <div>20200602~202000607 金牛座</div>
      <div>已结束 排名：1941</div>
    </div>
    <div class="btn" @click="gotoAries">
      <div>20200507~20200514 白羊座</div>
      <div>已结束 排名：4680</div>
    </div>
  </div>

  <div class="guild-battle-record">
    <h2 style="margin:5px 0">外部公会离职证明生成</h2>
    <div style="display: flex;justify-content: space-between">
      <input style="width: 70%;margin-right: 10px;" v-model="certVeriCode" placeholder="10位数字验证码">
      <div class="btn" style="flex-grow: 1" @click="gotoLeaveCert()">前往页面</div>
    </div>
    <div style="font-size: 70%;color: gray;text-decoration:line-through">*验证码请向"一起学猫叫"索取 请提供号码:{{pubKey}}</div>
    <div style="font-size: 70%;color: gray">**暂时无需验证码 可以直接前往页面</div>
  </div>

</div>
</body>

<script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
<!--<script type="text/javascript" src="../../../../lib/vue.js"></script>-->
<script type="text/javascript" src="../../lib/base.js"></script>

<script type="text/javascript" src="data.js"></script>
<script type="text/javascript" src="index.js"></script>
</html>
