<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/init.css"/>
  <link rel="stylesheet" type="text/css" href="../css/base.css"/>
  <link rel="stylesheet" type="text/css" href="../css/deco.css"/>
</head>

<body>
<div id="deco-body" v-cloak>

  <top-bar></top-bar>
  <auto-refresh switch="off" style="display: none"></auto-refresh>

  <div id="menu-part" v-if="wideScr">
    <div id="menu-box">
      <div id="menu-body">
      </div>
    </div>
  </div>

  <div id="text-part">
    <div id="text-left-blank" v-if="wideScr"></div>
    <div id="text-box">
      <div id="text-body">
        <div class="mt-10 clr-r">点击图片可以查看原图 查看图片时点击右侧按钮可以下载图片至本地</div>
        <div class="sub-box" style="background: rgba(255,0,0,0.15);">
          <div class="title">平面图部分</div>
          <div class="text">客厅、主卧、主卧卫生间墙面交界处整平</div>
          <div class="text">卫生间干区入口处向上打通到顶，不做门框</div>
          <image-view url="../source/image/deco_modify/plane-1.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">次卧和书房墙面交界处略微平移，让出一个能容纳移门的空间</div>
          <image-view url="../source/image/deco_modify/plane-2.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">主卧卫生间旁边柜子深度按550mm设计</div>
          <image-view url="../source/image/deco_modify/plane-3.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">干区面盆、墙面、隔断平移，腾出空间将门改为平开</div>
          <image-view url="../source/image/deco_modify/plane-4.png"></image-view>
        </div>

        <div class="sub-box" style="background: rgba(0,255,0,0.15);">
          <div class="title">供水部分</div>
          <div class="text">2个阳台各增加1个水龙头，次卧水龙头带阀门</div>
          <image-view url="../source/image/deco_modify/water_supply.png"></image-view>
        </div>

        <div class="sub-box" style="background: rgba(0,0,255,0.15);margin-bottom: 20px">
          <div class="title">灯具和开关部分</div>
          <div class="text">待填</div>
          <image-view url="../source/image/deco_modify/light_wire.png"></image-view>
        </div>

        <div class="sub-box" style="background: rgba(0,0,255,0.15);margin-bottom: 20px">
          <div class="title">插座部分</div>
          <div class="text">厨房共增加4个五孔插座</div>
          <div class="text">进门处共增加3个五孔插座</div>
          <image-view url="../source/image/deco_modify/plug-1.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">次卧共增加3个五孔插座 取消2个五孔插座 移动2个五孔插座</div>
          <image-view url="../source/image/deco_modify/plug-2.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">客厅共增加2个五孔插座</div>
          <div class="text">客厅柜机空调插座是否考虑？</div>
          <div class="text">客厅阳台增加1个五孔插座</div>
          <image-view url="../source/image/deco_modify/plug-3.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">书房共增加6个五孔插座 取消1个五孔插座 增加1个网插</div>
          <image-view url="../source/image/deco_modify/plug-4.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">卫生间干区共增加2个五孔插座</div>
          <image-view url="../source/image/deco_modify/plug-5.png"></image-view>
          <div class="separate-line"></div>
          <div class="text">主卧共增加3个五孔插座</div>
          <image-view url="../source/image/deco_modify/plug-6.png"></image-view>
          <div class="separate-line"></div>
          <div class="notice"></div>
        </div>

      </div>
    </div>
  </div>

</div>
</body>

<script type="text/javascript" src="../lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/component.js"></script>
<script type="text/javascript" src="../js/deco.js"></script>
</html>