<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/init.css"/>
  <link rel="stylesheet" type="text/css" href="../css/base.css"/>
  <link rel="stylesheet" type="text/css" href="../css/fully_prime_date.css"/>
</head>

<body>
<div id="fpd-body" v-cloak>
  <div id="text-part">
    <p>好吧那就姑且把这种日期称为"全素日"——fully prime date，简称FPD</p>
    <p>假设一个日期为ABCD年EF月GH日，将其年月日的数字按照以下规律组合</p>
    <ul>
      <li>ABCDEFGH</li>
      <li>BCDEFGH</li>
      <li>CDEFGH</li>
      <li>DEFGH</li>
      <li>EFGH</li>
      <li>FGH</li>
      <li>GH</li>
      <li>H</li>
    </ul>
    <p>如果生成的8个数据均为质数，则称该日期为FPD</p>
    <div class="separate-line"></div>
    <p>从"月日"的数字进行考察，每年最多有366天，对于不同的年份而言，"月日"所能生成的4个数据是相同的</p>
    <p>则FPD必然从以下"月日"的日期中产生</p>
    <ul>
      <li v-for="(item1,index1) in primeMD">{{item1}}</li>
    </ul>
    <div class="separate-line"></div>
    <p>以下是将年份按指数增长的方式分割显示的所有FPD</p>
    <div style="display: flex;margin: 5px;">
      <input placeholder="请输入年份位数" v-model="inputYIdx" type="number">
      <button style="margin: 0 5px" @click="submitYIdx()">提交</button>
    </div>
    <p class="clr-r" v-for="(item4,index4) in FPDListInIdx">{{index4 + "--" +item4.length}}</p>
    <div class="separate-line"></div>
    <ul v-for="(item2,index2) in FPDListInIdx">
      <p class="clr-r">{{item2.length}}</p>
      <li v-for="(item3,index3) in item2">{{item3}}</li>
      <br>
    </ul>
  </div>
</div>
</body>

<script type="text/javascript" src="../lib/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="../lib/vue.js"></script>
<script type="text/javascript" src="../js/base.js"></script>
<script type="text/javascript" src="../js/fully_prime_date.js"></script>
</html>