html, body {
  height: 100%; }

#index-body {
  min-height: 100%;
  background: #084fb2;
  display: flex;
  flex-direction: column; }
  #index-body .test-bar {
    width: 100px;
    height: 100px;
    background: red; }
