html, body {
  height: 100%; }

#BLANK-PAGE-body {
  min-height: 100%;
  background: #78c3ea;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main-body {
  margin-top: 50px;
  width: 800px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px #333;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
