html, body {
  height: 100%; }

#index-body {
  min-height: 100%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none; }

.title {
  width: 100%;
  height: 300px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 50px; }

.sub-title {
  height: 100px;
  background: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 50px;
  color: #ffffff; }
